{% extends "layout.html" %}
{% block content %} 
<div id="logo">
<h1>G Explore</h1>
</div>
<div id="search-container">
  <input id="search-input" type="text" />
  <script type="text/javascript">
    $( "#search-input" ).autocomplete({
      source: function(request, response) {
        fetch_freebase_suggestions({
          'query': request.term,
          'success': function(data) {
            console.log(data);
            response($.map(data.result, function(item) {
              return {
                'category': item.notable.name,
                'description': item.output.description['/common/topic/description'][0],
                'label': item.name,
                'value': item.name,
                'id': item.mid
              }
            }));             
          }
        });
      }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
      return $("<li></li>")
        .data("item.autocomplete", item)
        .append(format_result(item))
        .appendTo(ul);
    };

    function format_result(item) {
      var result = '<div class="freebase-suggest-container">';
      result += '<div class="freebase-suggest-title">' +  item.label + '</div>';
      result += '<img class="freebase-suggest-image" src="' + FREEBASE_URL + '/image' +  item.id + '?maxheight=30&errorid=/freebase/no_image_png" />';
      result += '<div class="freebase-suggest-details">' + item.description + '</div>';
      result += '</div>';
      return result
    }
  </script>      
</div> 
{% endblock %} 