<!DOCTYPE HTML>
<html>  
  <head>
    <title>Geo Explorer</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Spirax" type="text/css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript" src="/static/js/freebase_fetcher.js"></script>
    <script type="text/javascript" src="/static/js/search_loader.js"></script>
  </head>
  {% block body %}
  <body>
  {% endblock %}
    {% block header %}
    {% endblock %}
    <div class="wrap">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>