{% extends "layout.html" %}
{% block content %} 
<div id="logo">
<h1>G Explore</h1>
</div>
<div id="search-container">
  <div id="map-canvas" style="display:none;"></div>
  <input id="search-input" type="text" />
  <div id="results"></div>
  <script type="text/javascript">
    var service = new google.maps.places.AutocompleteService();
    $( "#search-input" ).autocomplete({
      source: function(request, response) {
        var search_params = {input: request.term, types: ['(regions)']}           
        service.getPlacePredictions(search_params, function(data) {
          if (data == null) {
            return response([])
          }          
          return response($.map(data, function(item) {
            return {
              'data': item,
              'query': request.term,
              'label': item.description,
              'value': item.description
            }
          }));
      })},
      select: function(e, ui) {
        load_page(ui.item);
      }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
      return $("<li></li>")
        .data("item.autocomplete", item)
        .append(format_result(item))
        .appendTo(ul);
    };

    function format_result(item) {
      var result = '<span class="maps-suggest-title">' +  item.data.terms[0].value + '</span>';
      for (var i = 1; i < item.data.terms.length; i++) {
        result += '<span class="maps-suggest-details">' +  item.data.terms[i].value + '</span>';
      }
      return result
    }

    function load_page(place) {
      $("#map-canvas").hide();
      $("#results").html('');
      var map = new google.maps.Map(document.getElementById('map-canvas'));
      var service = new google.maps.places.PlacesService(map);
      load_hotels(service, place);
      load_restaurants(service, place);
      load_bars(service, place);
    }

    function load_hotels(service, place) {
      var request = {
        query: "hotels " + place.data.description,
      };
      
      service.textSearch(request, function(results){
        append_to_page(results, 'Hotels')
      });
    }

    function load_restaurants(service, place) {
      var request = {
        query: "restaurants near " + place.data.description
      };
      
      service.textSearch(request, function(results){
        append_to_page(results, 'Restaurants')
      });
    }

    function load_bars(service, place) {
      var request = {
        query: "bars " + place.data.description
      };
      
      service.textSearch(request, function(results){
        append_to_page(results, 'Bars')
      });
    }

    function append_to_page(results, title) {
      var html = '<h3>' + title + '</h3>';
      html += '<div class="results-list-container">';
      for (var i = 0; i < results.length; i++) {
        if (results[i].photos != null  && results[i].photos.length > 0) {
          var image_url = results[i].photos[0].getUrl({maxHeight:200, maxWidth:200});
          if (image_url == null) return
          html += '<div class="result-item-container">';
          html += '<img class="result-item-image" src="' + image_url + '" />';
          html += '<div class="result-item-label">' + results[i].name + '</div>'
          html += '</div>';
        }
      }

      html += '</div>';
      $("#results").append(html)
      

    }
  </script>      
</div> 
{% endblock %} 