{% extends "layout.html" %}
{% block header %}
<div id="header">
<div class="wrap">
<div id="search-container">
  <div id="logo" style="float:left;">
    <h3>Geo Explorer</h3>
  </div>
  <input id="search-input" type="text" placeholder="Enter a place (address, city, or country)" value="{{place}}" />
</div>
</div>
</div>
{% endblock %} 
{% block content %} 
<div id="results"></div>
<div id="map-canvas" style="display:none;"></div>
<script type="text/javascript">
  var place = "{{place}}"
  var type_str = "{{type}}";

  type = -1;
  try {
    type = parseInt(type_str)
  } catch (err) { }
  
  var map = new google.maps.Map(document.getElementById('map-canvas'));
  var geocoder = new google.maps.Geocoder();
  var place_service = new google.maps.places.PlacesService(map);
  load_search(document.getElementById("search-input"));
  function load_page(place) {
    $("#search-input").val(place);
    $("#results").html('');
    if (type == -1) {
      load_coffee_maps(place)
      load_food_maps(place);
      load_bars_maps(place);
      load_nightlife_maps(place);
      load_tourist_attractions_freebase(place)
      load_hotels_maps(place);
    } else {
      load_tourist_attractions_freebase(place)
      load_tourist_destinations_freebase(place)
    }
  }

  function load_hotels_maps(place) {
    var request = {
      query: "hotels near " + place + " by:experts",
    };
    
    place_service.textSearch(request, function(results){
      append_to_page(results, 'Hotels')
    });
  }

  function load_coffee_maps(place) {
    var request = {
      query: "coffee near " + place + " by:experts"
    };
    
    place_service.textSearch(request, function(results){
      append_to_page(results, 'Coffee')
    });
  }

  function load_food_maps(place) {
    var request = {
      query: "restaurant OR cafe near " + place + " by:experts"
    };
    
    place_service.textSearch(request, function(results){
      append_to_page(results, 'Food')
    });
  }

  function load_nightlife_maps(place) {
    var request = {
      query: "nightlife near " + place + " by:experts"
    };
    
    place_service.textSearch(request, function(results){
      append_to_page(results, 'Nightlife')
    });
  }

  function load_bars_maps(place) {
    var request = {
      query: "bars near " + place + " by:experts"
    };
    
    place_service.textSearch(request, function(results){
      append_to_page(results, 'Bars')
    });
  }

  function load_tourist_attractions_maps(place) {
  	var containment = ' near ';
  	if (type != -1) {
  		containment = ' in '
  	}
    var request = {
      query: '"tourist_attractions"' + containment + place + " by:experts",
    };
    
    place_service.textSearch(request, function(results){
      append_to_page(results, 'Attractions')
    });
  }

  function load_tourist_destinations_freebase(place) {
    var terms = place.split(",");
    var fetch_params = {
      'limit': 20,
      'prefixed': true,
      'filter': '(all type:/travel/travel_destination type:/location/citytown part_of:"' + terms[0] + '")',
      'scoring': 'entity',
      'output': '(notable:/client/summary description type)'
    };
    fetch_freebase_suggestions({
      'fetch_params': fetch_params,
      'success': function(data) {
        var final_results = []
        for (var i=0; i<data.result.length; i++) {
          var match = data.result[i].name.match(terms[0]);
          if (match) {
            continue
          }
          final_results.push(data.result[i])
        }
        append_to_page_freebase(final_results, 'Destinations');
      }
    });
  }

  function load_tourist_attractions_freebase(place) {
    var terms = place.split(",")
    var limit = 20;
    var fetch_params = {
      'limit': limit,
      'prefixed': true,
      'filter': '(all type:/travel/tourist_attraction part_of:"' + terms[0] + '")',
      'scoring': 'entity',
      'output': '(notable:/client/summary description type)'
    };
    fetch_freebase_suggestions({
      'fetch_params': fetch_params,
      'success': function(data) {
        if (data.hits < 6) {
          load_tourist_attractions_maps(place);
          return
        }
        append_to_page_freebase(data.result, 'Attractions');
      }
    });
  }

  function append_to_page(results, title) {
    if (results.length < 1) return
    var html = '<div class="results-list-container">';
    html += '<div class="title-container"><h3 class="title">' + title + '</h3></div>';
    html += '<div class="gallery-container">';
    for (var i = 0; i < results.length; i++) {
      if (results[i].photos != null  && results[i].photos.length > 0) {
        var image_url = results[i].photos[0].getUrl({maxHeight:400});
        if (image_url == null) {
          image_url = FREEBASE_URL + '/freebase/no_image_png'
        }
        html += '<div class="result-item-container">';
        html += '<img class="result-item-image" src="' + image_url + '" />';
        html += '<div class="result-item-label"' + ' title="'+ results[i].name + '">' + results[i].name + '</div>'
        html += '</div>';
      }
    }
    html += '</div></div>';
    $("#results").append(html);
  }

  function append_to_page_freebase(results, title) {
    if (results.length < 1) return
    var html = '<div class="results-list-container">';
    html += '<div class="title-container"><h3 class="title">' + title + '</h3></div>';
    html += '<div class="gallery-container">';
    for (var i = 0; i < results.length; i++) {
      if (results[i].notable.id == '/location/country') continue
      var image_url = FREEBASE_URL + '/image' +  results[i].mid + '?maxheight=300&errorid=/freebase/no_image_png';
      html += '<div class="result-item-container">';
      html += '<img class="result-item-image" src="' + image_url + '" />';
     html += '<div class="result-item-label"' + ' title="'+ results[i].name + '">' + results[i].name + '</div>'        
      html += '</div>';      
    }
    html += '</div></div>';
    $("#results").append(html);
  }

  if (place == "") {
    navigator.geolocation.getCurrentPosition(function(position) {
      var lat_lng = new google.maps.LatLng(
          position.coords.latitude, position.coords.longitude);
      geocoder.geocode({'latLng': lat_lng}, function(results, status) {
        type = -1;
        place = results[0].formatted_address
        load_page(place);
      });   
    });
  } else {
    load_page(place);
  }

  
</script>      

{% endblock %} 