{% extends "layout.html" %}
{% block header %}
<div id="header">
<div class="wrap">
<div id="search-container">
  <div id="logo" style="float:left;">
    <h3>G Explore</h3>
  </div>
  <input id="search-input" type="text" value="{{place}}" />
</div>
</div>
</div>
{% endblock %} 
{% block content %} 
<div id="results"></div>
<div id="map-canvas" style="display:none;"></div>
<script type="text/javascript">
  var map = new google.maps.Map(document.getElementById('map-canvas'));
  var place_service = new google.maps.places.PlacesService(map);
  load_search(document.getElementById("search-input"));
  function load_page(place) {
    $("#map-canvas").hide();
    $("#results").html('');
    if ("{{type}}" == "-1") {
      load_hotels_freebase(place);
      load_restaurants_maps(place);
      load_bars_maps(place);
      load_tourist_attractions_freebase(place)
    } else {
      load_tourist_destinations_freebase(place)
      load_tourist_attractions_freebase(place)
    }
  }

  function load_hotels_maps(place) {
    var request = {
      query: "hotels " + place,
    };
    
    place_service.textSearch(request, function(results){
      append_to_page(results, 'Hotels')
    });
  }

  function load_restaurants_maps(place) {
    var request = {
      query: "restaurants " + place
    };
    
    place_service.textSearch(request, function(results){
      append_to_page(results, 'Restaurants')
    });
  }

  function load_bars_maps(place) {
    var request = {
      query: "bars " + place
    };
    
    place_service.textSearch(request, function(results){
      append_to_page(results, 'Bars')
    });
  }

  function load_tourist_destinations_freebase(place) {
    var fetch_params = {
      'prefixed': true,
      'filter': '(all type:/travel/travel_destination part_of:"' + place.split(",")[0] + '")',
      'scoring': 'entity',
      'output': '(notable:/client/summary description type)'
    };
    fetch_freebase_suggestions({
      'fetch_params': fetch_params,
      'success': function(data) {
        append_to_page_freebase(data.result, 'Top Destinations');
      }
    });
  }

  function load_tourist_attractions_freebase(place) {
    var fetch_params = {
      'prefixed': true,
      'filter': '(all type:/travel/tourist_attraction part_of:"' + place.split(",")[0] + '")',
      'scoring': 'entity',
      'output': '(notable:/client/summary description type)'
    };
    fetch_freebase_suggestions({
      'fetch_params': fetch_params,
      'success': function(data) {
        console.log(data)
        append_to_page_freebase(data.result, 'Top Attractions');
      }
    });
  }

  function load_hotels_freebase(place) {
    var fetch_params = {
      'prefixed': true,
      'filter': '(all type:/travel/hotel part_of:"' + place.split(",")[0] + '")',
      'scoring': 'entity',
      'output': '(notable:/client/summary description type)'
    };
    fetch_freebase_suggestions({
      'fetch_params': fetch_params,
      'success': function(data) {
        console.log(data)
        if (data.result.length < 3) {
          load_hotels_maps(place)
        }
        append_to_page_freebase(data.result, 'Top Hotels');
      }
    });
  }

  function append_to_page(results, title) {
    if (results.length < 1) return
    var html = '<h3>' + title + '</h3>';
    html += '<div class="results-list-container">';
    for (var i = 0; i < results.length; i++) {
      if (results[i].photos != null  && results[i].photos.length > 0) {
        var image_url = results[i].photos[0].getUrl({maxHeight:400});
        if (image_url == null) {
          image_url = FREEBASE_URL + '/freebase/no_image_png'
        }
        html += '<div class="result-item-container">';
        html += '<img class="result-item-image" src="' + image_url + '" />';
        html += '<div class="result-item-label">' + results[i].name + '</div>'
        html += '</div>';
      }
    }
    html += '</div>';
    $("#results").append(html);
  }

  function append_to_page_freebase(results, title) {
    if (results.length < 3) return
    var html = '<h3>' + title + '</h3>';
    html += '<div class="results-list-container">';
    for (var i = 0; i < results.length; i++) {
      if (results[i].notable.id == '/location/country') continue
      var image_url = FREEBASE_URL + '/image' +  results[i].mid + '?maxheight=300&errorid=/freebase/no_image_png" />';
      html += '<div class="result-item-container">';
      html += '<img class="result-item-image" src="' + image_url + '" />';
      html += '<div class="result-item-label">' + results[i].name + '</div>'        
      html += '</div>';      
    }
    html += '</div>';
    $("#results").append(html);
  }

  load_page("{{place}}");
</script>      

{% endblock %} 