/*
@author: Anant Bhardwaj
@date: 08/11/2012
*/

body {
  font-family: Arial, sans-serif;
  font-size:0.9em;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}

body.no-background {
  background-color: #fff;
}
.wrap {
  width: 100%;
  margin: 0 auto;
}

#header {
  width: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1em;
  color: #000;
}

.margin {
  margin-top: 10em;
}

#logo {
  font-weight: bold;
  font-family: 'Spirax', cursive;
  width:14em;
  margin: 0;
}

#logo h3 {
  font-size: 1.5em;
  margin: 0;
}

#logo-home {
  font-family: 'Spirax', cursive;
  width:14em;
  margin: 0 auto;
}

/*
#search-container {
  width: 100%;
}

#search-input-home {
  margin: 0 auto;
  width:40em;
  height: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.0em;
  display: block;
}

#search-input {
  margin: 0;
  width:50%;
  height: 1.5em;
  padding: 0.25em;
  font-size: 1.0em;
  display: inline-block;
  border-radius: 3px;
  border: none;
}

#query-input {
  margin: 0;
  width:20em;
  height: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 20px;
  font-size: 1.0em;
  display: inline-block;
  border-radius: 3px;
}

.result-item-container {
  margin-top: 0px;
  background-color: #000;
  margin: 10px;
  width: 120px;
  height: 120px;
  display: inline-block;
  position: relative;
}

.result-item-image {
  padding: 0;
  margin: 0;
  height: 120px;
  width: 120px;
  display: inline-block;
  border-radius: 5px;
}

.result-item-label {
  margin: 0;
  font-size: 0.7em;
  padding: 5px;
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  opacity: 0.85;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.results-list-container {
  margin: 0 auto;
  background-color: #000;
  padding: 5px 0 5px 0;
  margin-top: 20px;
  width: 100%;
  border-bottom: 1px solid #333;
  display: block;
}
.results-list-container .title-container {
  background-color: #000;
  margin: 0;
  padding:10px;
  color: #999;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #333;
}

.results-list-container .title-container .title {
  font-size: 1.0em;
  margin: 0;
  padding:0;
  display: inline-block;
}

.results-list-container .title-container .count-label {
  font-size: 0.8em;
  float: right;
}

.results-list-container .gallery-container {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow-x: scroll;  
}

.autocomplete-suggest-title {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-size: 1.0em;
  color: #000;
  font-weight: bold;
}

.autocomplete-suggest-details {
  font-size: 0.7em;
  color: #999;
  min-height: 30px;
  padding-left: 1em;
}



.ui-widget {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, sans-serif;
  font-size:0.9em;
}

.ui-widget-content {
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
  color: #367af8;
}

.ui-state-hover .autocomplete-suggest-details,
.ui-state-focus .autocomplete-suggest-details {
  color: #fff;
}

.ui-state-hover .autocomplete-suggest-title,
.ui-state-focus .autocomplete-suggest-title {
  color: #fff;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: none;
  background:#367af8;
  background:-moz-linear-gradient(top, #648ffa 0, #0d67f7 100%);
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#648ffa), to(#0d67f7));
}

*/

#search-container {
  width: 100%;
  margin-bottom:20px;
}

#search-input {
  margin: 0;
  width:100%;
  max-width: 40em;
  height: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.0em;
  display: block;
}

.results {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  -webkit-column-width: 330px;
  -webkit-column-gap: 20px;
  -webkit-column-fill: auto;
  -moz-column-width: 330px;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-width: 330px;
  column-gap: 10px;
  column-fill: auto;
}

.results-list-container {
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 310px;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 2px 4px #999;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.results-list-container .title-container {
  margin: 0;
  padding:10px;
  padding-top: 15px;
  padding-bottom:15px;
  border-bottom: 1px solid #eee;
}

.results-list-container .title-container .title {
  font-size: 2.1em;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #444;
  opacity: 0.8;
}

.result-item-container {
  position: relative;
  margin-top: 0px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #eee;
}

.result-item-no-image {
  margin: 0;
  padding: 5px;
}

.result-item-image {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
  height: 112px;
  width: 112px;
  display: inline-block;
}

.result-item-details {
  margin: 0;
  padding: 5px;
  margin-right: 120px;
  min-height: 102px;
}

.result-item-details .place-name {
  font-size: 1.2em;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #333;
}

.result-item-details .place-address {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9em;
  color: #999;
}

.result-item-details .place-rating {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.9em;
  color: #999;
}